<%= render 'partials/home' %>


<% if @user.level == 1 %>
<h2>Share the Gift of Water</h2>
<table>
  <tr>
    <th>Gallons Recieved</th>
    <th>Name</th>
    <th>Address</th>
    <th>Ship H20</th>
  </tr>
  <% @recievers.each do |user| %>
  <tr>
    <td><%= user.drones_recieved.count %></td>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.address %></td>
    <td>
      <a href='/drones/<%= user.id %>' data-method='POST'>Send</a>
    </td>
  </tr>
  <% end %>
</table>

<h2>Stats</h2>
<p>You've sent a total of <strong><%= @user.sent_drones.count %> Total Gallons</strong> of water!</p>
<% @user.sent_drones.select("reciever").group("reciever").each do |drone| %>
<p>You sent <%= drone.reciever.first_name %> <%= drone.reciever.last_name %> <%= @user.sent_drones.where(reciever: drone.reciever).count %> gallons of water!</p>
<% end %>
<% end %>

<% if @user.level == 0 %>
<p>You've recieved a total of <strong><%= @user.drones_recieved.count %> Total Gallons</strong> of water!</p>
<% @user.recieved_drones.select("sender").group("sender").each do |drone| %>
<p><%= drone.sender.first_name %> <%= drone.sender.last_name %> droned you <%= @user.recieved_drones.where(sender: drone.sender).count %> times</p>
<% end %>
<% end %>
