<!DOCTYPE html>
<html>
<head>
  <title>AuthBelt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'partials/flash_messages' if !flash.empty? %>
  <% if session[:user_id] %>
    <h2>Welcome, <%= @user.first_name %></h2>
  <% end %>
    <a href='/sessions/destroy'>Log Out</a>

<%= yield %>

</body>
</html>
